@page "{id}"
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Keyword"] = Model.Article.Keywords;
    ViewData["MetaDescription"] = Model.Article.MetaDescription;
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">@Model.Article.Title</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="ArticleCategory" asp-route-id="@Model.Article.CategorySlug">@Model.Article.CategoryName</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                        @if (!string.IsNullOrWhiteSpace(Model.Message))
                        {
                            <div class="alert alert-@Model.MessageColor alert-dismissible fade show" style="text-align: center; width: 35%;margin: auto">
                                <span> @Model.Message </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-lg-9 order-1 order-lg-1">
                                <div class="blog-page-content">
                                    <div class="blog-single-post-container">

                                        <h3 class="post-title">@Model.Article.Title</h3>

                                        <div class="post-meta">
                                            <p>

                                                <span>
                                                    <a asp-page="ArticleCategory" asp-route-id="@Model.Article.CategorySlug">  @Model.Article.CategoryName</a>
                                                    <span class="separator">|</span>
                                                    <a>
                                                        @Model.Article.PublishDate
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/Pictures/@Model.Article.PictureName" class="img-fluid" alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                                            </div>
                                        </div>

                                        <div class="post-content">
                                            @Html.Raw(Model.Article.Description)
                                        </div>

                                        <div class="tag-area">
                                            <span>برچسب ها </span>
                                            @if (!string.IsNullOrWhiteSpace(Model.Article.Keywords))
                                            {
                                                <ul>
                                                    @foreach (var tag in Model.Article.Keywords.Split(","))
                                                    {
                                                        <li><a href="/Search?search=@tag">@tag</a>,</li>
                                                    }
                                                </ul>
                                            }
                                        </div>

                                        <div class="social-share-buttons">
                                            <h3>این مقاله را به اشتراک بگذارید</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="comment-section">
                                        <h3 class="comment-counter">نظرات</h3>

                                        <div class="comment-container">

                                            @foreach (var comment in Model.Article.Comments)
                                            {
                                                <div class="single-comment">
                                                    <span class="reply-btn">
                                                        <a href="#commentForm" onclick='$("#parentId").val(@comment.Id)'>پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="~/Theme/assets/img/blog/comment-icon.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="user">
                                                            @comment.Name <span class="comment-time">
                                                                @comment.CreationDate
                                                            </span>
                                                        </h3>
                                                        <p class="comment-text">
                                                            @comment.Message
                                                        </p>
                                                    </div>

                                                </div>

                                                @await Component.InvokeAsync("CommentChildren", comment.Id);
                                            }

                                        </div>

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">نظر دهید</h3>
                                            <p>
                                                *پست الکترونیک  شما محفوظ نگه داشته می شود
                                            </p>

                                            <!--=======  comment form  =======-->

                                            <div class="comment-form" id="commentForm">
                                                <form method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>متن نظر</label>
                                                                <textarea name="message"
                                                                          id="commentMessage"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>پست الکترونیک <span class="required">*</span></label>
                                                                <input type="email" name="email">
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="ownerId" value="@Model.Article.Id" />
                                                        <input type="hidden" name="ownerName" value="@Model.Article.Title" />
                                                        <input type="hidden" name="slug" value="@Model.Article.Slug" />
                                                        <input type="hidden" name="parentId" id="parentId" value="0" />
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                ارسال نظر
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!--=======  End of comment form  =======-->
                                        </div>

                                        <!--=======  End of comment form container  =======-->

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <div class="page-sidebar-wrapper">
                                    @await Component.InvokeAsync("ArticleCategorySideBar", ViewBag.Slug = Model.Article.CategorySlug)
                                    @await Component.InvokeAsync("ArticleSideBar")

                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">برچسب ها</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @if (!string.IsNullOrWhiteSpace(Model.Article.Keywords))
                                            {
                                                <ul>
                                                    @foreach (var tag in Model.Article.Keywords.Split(","))
                                                    {
                                                        <li><a href="/Search?search=@tag">@tag</a></li>
                                                    }
                                                </ul>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
